<template>
    <div class="daftardosen">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-5">
                    <h1>RG RPL</h1>
                    <p>Research Group RPL adalah sebuah grup penelitian dari program studi teknik informatika, berspesialisasi pada subjek rekayasa perangkat lunak dan bekerja bersama dalam masalah atau topik seputar RPL.</p>
                </div>
                <div class="col-md-6 my-5">
                    <img src="@/assets/6.jpg" alt="ini foto">
                </div>
            </div>
        </div>

        <h1 class="text-center">Dosen Tim RG RPL</h1>
        <div class="container-dosen sdosen my-5 pt-3">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12">
                    <img class="img-fluid" width="200" height="200" src="@/assets/7.png" id="MainImg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <h3 class="py-4">Umi Sa'adah, S.Kom, M.Kom</h3>
                    <p>NIP: 197404162000032003</p>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="btn-dosen">
                        <p><button><a href="/detaildosen">Baca Selengkapnya...</a></button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-dosen sdosen my-5 pt-3">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12">
                    <img class="img-fluid" width="200" height="200" src="@/assets/7.png" id="MainImg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <h3 class="py-4">Fadilah Fahrul Hardiansyah, S.ST., M. Kom.</h3>
                    <p>NIP: 2000000061</p>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="btn-dosen">
                        <p><button><a href="/detaildosen">Baca Selengkapnya...</a></button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-dosen sdosen my-5 pt-3">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12">
                    <img class="img-fluid" width="200" height="200" src="@/assets/7.png" id="MainImg" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <h3 class="py-4">Desy Intan Permatasari, S.Kom., M.Kom.</h3>
                    <p>NIP: 198603232015042004</p>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="btn-dosen">
                        <p><button><a href="/detaildosen">Baca Selengkapnya...</a></button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DaftarDosen'
}
</script>

<style>
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        max-width: 1170px;
        margin: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
.col-md-6 img {
    width: 80%;
}
.col-lg-3 .img-fluid {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: #fff;
  background-color: rgb(20, 72, 122);
  width: 80%;
  font-size: 14px;
  text-decoration: none;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.container-dosen {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    margin: 50px auto;
}
.btn-dosen a {
    text-decoration: none;
    color: #ffff;
}
</style>