<template>
<div class="detailpa">
    <div class="heading pt-4">
        <h3><b>Saran Judul PA</b></h3>
        <p>disini adalah list saran judul PA untuk Mahasiswa PENS</p>
    </div>
    <div class="container-karya skarya my-5 pt-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                <img class="img-fluid" width="200" height="200" src="@/assets/dtik.png" id="MainImg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h3 class="py-4">Judul PA 1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <h4 class="mt-5 mb-5">2018</h4>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="btn-pa">
                    <p><button>Baca Selengkapnya...</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-karya skarya my-5 pt-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                <img class="img-fluid" width="200" height="200" src="@/assets/dtik.png" id="MainImg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h3 class="py-4">Judul PA 1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <h4 class="mt-5 mb-5">2018</h4>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="btn-pa">
                    <p><button>Baca Selengkapnya...</button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-karya skarya my-5 pt-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                <img class="img-fluid" width="200" height="200" src="@/assets/dtik.png" id="MainImg" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <h3 class="py-4">Judul PA 1</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <h4 class="mt-5 mb-5">2018</h4>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="btn-pa">
                    <p><button>Baca Selengkapnya...</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'DetailJudulPa'
}
</script>

<style>

.container-karya {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    margin: 50px auto;
}
button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: #fff;
  background-color: rgb(20, 72, 122);
  width: 80%;
  font-size: 14px;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
</style>